body{
    background: rgba(0, 0, 0, 0.979);
    overflow: hidden;
}

main{

    overflow: hidden;
}

.log{
    display: inline-block;
    vertical-align: middle;
    margin-left: 33%;
    height: 200px;
}

.title{
    display: block;
    font-family: cursive;
    font-size: 36px;
    Color: rgb(220, 191, 191);
    line-height: 84px;
    text-align: center;
}

.list{
    line-height: 30px;
    Color: rgb(220, 191, 191);
    font-family: 'Snell Roundhand', monospace;
    width: 100%;
}

.list div{
    list-style: none;
    display: inline-block;
    margin: 7px;
}

.list div li a{
    text-decoration: none;
    color:rgb(220, 191, 191);
    font-size: 18px;
    vertical-align: top;
    font-family:'Snell Roundhand', monospace;
}

.list div li a div{
    vertical-align: top;
}

.list div li a:hover{
    color: rgb(153, 152, 152);
}

.osn div div img{
    height: 320px;
}

.osn div div p {
    vertical-align: top;
    display: inline-block;
    color:rgb(220, 191, 191);
    text-align: justify;
    margin-left: 4px;
    margin-right: 2px;
    font-family:'Snell Roundhand', monospace;
}
.osn div div p a{
    font-family:'Snell Roundhand', monospace;
    color:rgb(220, 191, 191);
    text-decoration: none;
}
.txt{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float:left;
    display:block;
    width: 1200px;
    height: 310px;
    background:rgb(46, 46, 46);
    margin-left: 4px;
    margin-right: 2px;
 }
    
.imgr{
    float:left;
    display:block;
    width: 224px;
    height: 310;
    margin-right: 34px;
}
